html{
    margin: 0;
}
span{
    display: block;
}
.canvas{
    margin: 100px auto 100px;
    text-align: center;
    width: 80%;
}
.button{
    width: 100px;
    height: 100px;
    border: black 1px solid;
    display: inline-block;
}
#gray{
    background-color: gray;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}