body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#searchInput {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#searchButton {
  width: 10%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#searchButton:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 20px;
}

.article {
  margin-bottom: 20px;
}

.article h2 {
  margin: 0 0 10px 0;
}

.article a {
  color: #007BFF;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}
